{% extends 'index.html' %}
{% block body %}
        {% block body_form %}
    <form method="POST">
        <table>

            {% if message %}
             <tl>{{ message }}</tl><br>
            {% endif %}
            {% csrf_token %}

            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit" />
    </form>
    {% endblock %}
    {% block body_list %}
        <h3>Authors</h3>
        <ul>
        {% for author in authors %}

        <li>{{ author.name }}</li>

        {% endfor %}
    </ul>
    {% endblock %}
{% endblock %}