{% extends 'index.html' %}
{% block body %}
        {% block body_form %}
    <form method="POST">
        <table>

            {% if message %}
             <tl>{{ message }}</tl><br>
            {% endif %}
            {% csrf_token %}

            {{ form.as_table }}
        </table>
        <button type = "submit" class = "btn btn-primary">Submit</button>
    </form>
    {% endblock %}
    {% block body_list %}
        <h3>{{ model_name }}</h3>
        <ul>
        {% for author in authors %}

        <li>{{ author.name }}</li>

        {% endfor %}
    </ul>
    {% endblock %}
{% endblock %}